* {
    box-sizing: border-box;
  }

  .home-banner {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      
  }