<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <title>My VideoGame List - Login</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    
</head>

<body>  
    <!--Uso del mismo encabezado para la pantalla de log in, solo se adiere el segmento de log in-->
    <div class="home-banner">
        <div class="logo"><img src="/images/Controller_image.png"></div>
        <header> <h1>My VideoGame List </h1>
        </header>
        <div class="login-div">
            <a href="/"> <button class="btn-login"> Home </button> </a>
    
        </div>
    
    
    </div>
    <!-- seccion con los juegos mas destacados de lapagina
        apoyarse del API-->
    <div class="game-section">
        <p>Top rated games
        </p>
        <!-- aqui se hace el appending del api-->
    
    </div>
    
    <!-- Aqui se encuentra los fragementos que son unicos del LOG IN-->
    <div class = "container">
        <div class = "log-in-form">

            <h1 class = "titulo-log-in">Log in</h1>
            <form action="/login" method="POST">
                
                <div >
                    <span class="input-item">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                      </span>
                    <input class = "form-input" type="text" name="username"
                        placeholder="email">
                <br>

                    <span class="input-item">
                        <i class="fa fa-key"></i>
                      </span>
                    <input  class = "form-input" type="password" name="password"
                        placeholder="password">
                </div>

            </form>  
            <div >
                <button class = "login-button" >Log in </button>
            </div> 


            <div >

                <button class = "sec_button">Forgot Password</button>
                <a href="/signup"> <button class = "sec_button">Sign Up 

                <i class="fa fa-user-plus" aria-hidden="true"></i>
                </button> </a>
            </div>

        </div>
    </div>

</body>


