* {
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-flow: row;
  align-content: center;
  max-width: 1200px;
}
.game-data{
  flex-flow: column;
  margin: 1em 1em 1em 1em;
}

.game-cover{
  margin: 1em 1em 1em 1em;

}

.home-banner {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  height: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
.logo {
  display: flex;
 }
 .btn-login{
     display: flex;
     margin: 50px;
 }
 body{
     background-color: rgba(14, 31, 107, 0.644);
 }


.login-div{
    display: inline-block;
}
.game-name{
  background-color: rgb(181 181 181);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  padding-left: 1em;
  margin-bottom: -0.2em;
  margin-top: 0px;
  border-top: 0px;
}



.menu {
visibility: visible;
display: flex;
justify-content: space-around;
color: white;
margin: 1em 0 1em 0;
list-style-type: none;  
flex-grow: 0.2;
}


a:active{
  color: white;
}

a:visited{
  color: rgb(155, 151, 151);
}

a:hover{
  color:rgb(40, 59, 226);
}

.game-section {
display: flex;
flex-flow: row wrap;
justify-content:space-evenly;
gap: 80px 80px;
}