* {
    box-sizing: border-box;
  }

  
  .home-banner {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
      height: 150px;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      
    }

  .logo {
      display: flex;
     }
     .btn-login{
         display: flex;
         margin: 50px;
     }
     body{
         background-color: rgba(14, 31, 107, 0.644);
     }
  .game-section{
      background-color: dodgerblue;
      
  }
  