* {
    box-sizing: border-box;
  }

  
  .home-banner {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
      height: 150px;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      
    }
    .game-section {

        display: flex;
        flex-flow:row wrap;
        justify-content:space-around;
        gap: 40px 20px;
    }

  .logo {
      display: flex;
     }
     .btn-login{
         display: flex;
         flex-flow: row;
     }
     body{
         background-color: rgba(14, 31, 107, 0.644);
     }
  .game-section{
      /*background-color: dodgerblue;*/
      
  }
  
  .login-div{
      display: flex;
      flex-flow: row-reverse;
      justify-content: space-between;
      
  }

  .navbar{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 0 1em 0.5em 0;
  }
  
  .menu {
    visibility: visible;
    display: flex;
    justify-content: space-around;
    color: white;
    margin: 1em 0 1em 0;
    list-style-type: none;  
    flex-grow: 0.2;
  }

  nav{
    background-color: rgb(17, 17, 17);
    margin-top: 1em;
  }

  a:active{
      color: white;
  }

  a:visited{
      color: rgb(143, 143, 143);
  }

  a:hover{
      color:rgb(41, 74, 224);
  }

  header{
      display: flex;
      justify-items: center; 
      justify-content: center;    
  }




  
body{margin-top:20px;
    margin-bottom:20px;
    }
    .single_advisor_profile {
        position: relative;
        margin-bottom: 20px;
        margin-bottom: 30px;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        z-index: 1;
        border-radius: 15px;
        -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
        box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    }
    .single_advisor_profile .advisor_thumb {
        position: relative;
        z-index: 1;
        border-radius: 15px 15px 0 0;
        margin: 0 auto;
        padding: 30px 30px 0 30px;
        background-color: #000000;
        overflow: hidden;
    }
    .single_advisor_profile .advisor_thumb::after {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        width: 150%;
        height: 80px;
        bottom: -45px;
        left: -25%;
        content: "";
        background-color: #ffffff;
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
  
  
    @media only screen and (max-width: 575px) {
        .single_advisor_profile .advisor_thumb::after {
            height: 160px;
            bottom: -90px;
        }
    }
    .single_advisor_profile .advisor_thumb .actions {
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: 0;
        right: 30px;
        text-align: right;
    }
    .single_advisor_profile .advisor_thumb .actions a {
        font-size: 30px;
        color: #020710;
        padding: 0 5px;
    }
    .single_advisor_profile .advisor_thumb .actions a:hover,
    .single_advisor_profile .advisor_thumb .actions a:focus {
        color: #3f43fd;
    }
    .single_advisor_profile .advisor_thumb .actions a:last-child {
        padding-right: 0;
    }
    .single_advisor_profile .single_advisor_details_info {
        position: relative;
        z-index: 1;
        padding: 30px;
        text-align: right;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        border-radius: 0 0 15px 15px;
        background-color: #ffffff;
    }
    .single_advisor_profile .single_advisor_details_info::after {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        z-index: 1;
        width: 50px;
        height: 3px;
        background-color: #3f43fd;
        content: "";
        top: 12px;
        right: 30px;
    }
    .single_advisor_profile .single_advisor_details_info h3 {
        margin-bottom: 0.25rem;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    .single_advisor_profile .single_advisor_details_info h1 {
        margin-bottom: 0.25rem;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
  
  
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single_advisor_profile .single_advisor_details_info h1 {
            font-size: 14px;
        }
    }
    .single_advisor_profile .single_advisor_details_info p {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        margin-bottom: 0;
        font-size: 14px;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single_advisor_profile .single_advisor_details_info p {
            font-size: 12px;
        }
    }
    .single_advisor_profile:hover .advisor_thumb::after,
    .single_advisor_profile:focus .advisor_thumb::after {
        background-color: #000000;
    }
    .single_advisor_profile:hover .advisor_thumb .actions a,
    .single_advisor_profile:focus .advisor_thumb .actions a {
        color: #ffffff;
    }
    .single_advisor_profile:hover .advisor_thumb .actions a:hover,
    .single_advisor_profile:hover .advisor_thumb .actions a:focus,
    .single_advisor_profile:focus .advisor_thumb .actions a:hover,
    .single_advisor_profile:focus .advisor_thumb .actions a:focus {
        color: #ffffff;
    }
    .single_advisor_profile:hover .single_advisor_details_info,
    .single_advisor_profile:focus .single_advisor_details_info {
        background-color: #000000;
    }
    .single_advisor_profile:hover .single_advisor_details_info::after,
    .single_advisor_profile:focus .single_advisor_details_info::after {
        background-color: #ffffff;
    }
    .single_advisor_profile:hover .single_advisor_details_info h1,
    .single_advisor_profile:focus .single_advisor_details_info h1 {
        color: #ffffff;
    }
    .single_advisor_profile:hover .single_advisor_details_info p,
    .single_advisor_profile:focus .single_advisor_details_info p {
        color: #ffffff;
    }