* {
    box-sizing: border-box;
  }

  
  .button {
    font-family:'Open Sans';
    font-size: 16px;
    font-weight:400;
    display:inline-block;
    color:#FFF;
    border-radius: .25em;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.4);
  }
  
  .primary {
    line-height:40px;
    transition:ease-in-out .2s;
    padding: 0 16px;
  }
  
  .primary:hover, .condensed:hover, .touch:hover {
    transform:scale(1.02);
    box-shadow:2px 2px 5px rgba(0,0,0,0.20), inset 0 0 0 99999px rgba(0,0,0,0.2);
  }
  
  .condensed {
    transition:ease-in-out .2s;
    line-height:24px;
    padding: 0 8px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  }
  
  .touch {
    transition:ease-in-out .2s;
    line-height:40px;
    width:40px;
    padding: 0px;
    text-align: center;
  }
  
  .inlineIcon {}
  
  .edit:before, .save:before, .new:before, .cancel:before, .delete:before {
    font-family: FontAwesome;
    display: inline-block;
    font-size:1rem;
    padding-right:12px;
    background:none;
    color:#FFF;
  }
  
  .condensed.edit:before, .condensed.save:before, .condensed.new:before, .condensed.cancel:before, .condensed.delete:before {
     content:none;
  }
  
  .touch.edit:before, .touch.save:before, .touch.new:before, .touch.cancel:before, .touch.delete:before {
    width:100%;
    text-align:center;
    font-size:1.25rem;
  }
  
  .inlineIcon.edit, .inlineIcon.save, .inlineIcon.new, .inlineIcon.cancel, .inlineIcon.delete {
    background: transparent;
  }
  
  .inlineIcon.edit:before, .inlineIcon.save:before, .inlineIcon.new:before, .inlineIcon.cancel:before, .inlineIcon.delete:before {
    line-height:32px;
    font-size:32px;
    padding:4px 0px;
  }
  
  .edit {
    background: rgb(52, 152, 219);
    
    
  }
  .edit:before {
    content: "\f040";
  }

  .inlineIcon.edit:before {
      color: rgb(52, 152, 219);;
  }
  
  .save {
    background: rgb(142, 68, 173);
    
    
  }
  .save:before {
    content: "\f0c7";
  }
  .inlineIcon.save:before {
      color: rgb(142, 68, 173);
  }
  
  .new {
    background: rgb(46, 204, 113);
    
    
  }
  .new:before {
    content: "\f067";
  }
  .inlineIcon.new:before {
      color: rgb(46, 204, 113);
  }
  
  .cancel {
    background: rgb(85, 85, 85);
    
    
  }
  .cancel:before {
    content: "\f05e";
  }
  
  .inlineIcon.cancel:before {
      color: rgb(85, 85, 85);
  }
  
  .delete {
    background: rgb(192, 57, 43);
    
    
  }
  .delete:before {
    content: "\f1f8";
  }
  .inlineIcon.delete:before {
      color: rgb(192, 57, 43);
  }
  .search-container{
      padding-bottom: 20px;
  }
 
  .home-banner {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
      height: 150px;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      
    }
    .game-section {

        display: flex;
        flex-flow:row wrap;
        justify-content:space-around;
        gap: 40px 20px;
    }

  .logo {
      display: flex;
     }
     .btn-login{
         display: flex;
         flex-flow: row;
     }
     body{
         background-color: rgba(14, 31, 107, 0.644);
     }

  
  .login-div{
      display: flex;
      flex-flow: row-reverse;
      justify-content: space-between;
      
  }

  .navbar{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 0 1em 0.5em 0;
  }
  
  .menu {
    visibility: visible;
    display: flex;
    justify-content: space-around;
    color: white;
    margin: 1em 0 1em 0;
    list-style-type: none;  
    flex-grow: 0.2;
  }

  nav{
    background-color: rgb(17, 17, 17);
    margin-top: 1em;
  }

  a:active{
      color: white;
  }

  a:visited{
      color: rgb(143, 143, 143);
  }

  a:hover{
      color:rgb(41, 74, 224);
  }

  header{
      display: flex;
      justify-items: center; 
      justify-content: center;    
  }




  
body{margin-top:20px;
    margin-bottom:20px;

    }
    .single_advisor_profile {
        position: relative;
        margin-bottom: 20px;
        margin-bottom: 30px;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        z-index: 1;
        border-radius: 15px;
        -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
        box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    }
    .single_advisor_profile .advisor_thumb {
        position: relative;
        z-index: 1;
        border-radius: 15px 15px 0 0;
        margin: 0 auto;
        padding: 30px 30px 0 30px;
        background-color: #000000;
        overflow: hidden;
    }
    .single_advisor_profile .advisor_thumb::after {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        width: 150%;
        height: 80px;
        bottom: -45px;
        left: -25%;
        content: "";
        background-color: #ffffff;
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
  
  
    @media only screen and (max-width: 575px) {

        .single_advisor_profile .advisor_thumb::after {
            height: 160px;
            bottom: -90px;
        }
        .single_advisor_profile .single_advisor_details_info h3 {
            font-size: 25px;
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
        }
        .single_advisor_profile .single_advisor_details_info h1 {
            font-size: 25px;
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
        }
    }
    .single_advisor_profile .advisor_thumb .actions {
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: 0;
        right: 30px;
        text-align: right;
    }
    .single_advisor_profile .advisor_thumb .actions a {
        font-size: 30px;
        color: #020710;
        padding: 0 5px;
    }
    .single_advisor_profile .advisor_thumb .actions a:hover,
    .single_advisor_profile .advisor_thumb .actions a:focus {
        color: #3f43fd;
    }
    .single_advisor_profile .advisor_thumb .actions a:last-child {
        padding-right: 0;
    }
    .single_advisor_profile .single_advisor_details_info {
        position: relative;
        z-index: 1;
        padding: 30px;
        text-align: right;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        border-radius: 0 0 15px 15px;
        background-color: #ffffff;
    }
    .single_advisor_profile .single_advisor_details_info::after {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        z-index: 1;
        width: 50px;
        height: 3px;
        background-color: #3f43fd;
        content: "";
        top: 12px;
        right: 30px;
    }
    .single_advisor_profile .single_advisor_details_info h3 {
        margin-bottom: 0.25rem;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        width: 270px;
        overflow:hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }
    .single_advisor_profile .single_advisor_details_info h1 {
        margin-bottom: 0.25rem;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        width: 270px;
        overflow:hidden;
         white-space:nowrap;
         text-overflow: ellipsis;
    }
  
  
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        
        .single_advisor_profile .advisor_thumb::after {
            height: 160px;
            bottom: -90px;
        }
        .single_advisor_profile .single_advisor_details_info h3 {
            font-size: 25px;
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
        }
        .single_advisor_profile .single_advisor_details_info h1 {
            font-size: 25px;
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
        }
    }
        

    .single_advisor_profile .single_advisor_details_info p {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        margin-bottom: 0;
        font-size: 14px;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single_advisor_profile .single_advisor_details_info p {
            font-size: 12px;
        }
    }
    .single_advisor_profile:hover .advisor_thumb::after,
    .single_advisor_profile:focus .advisor_thumb::after {
        background-color: #000000;
    }
    .single_advisor_profile:hover .advisor_thumb .actions a,
    .single_advisor_profile:focus .advisor_thumb .actions a {
        color: #ffffff;
    }
    .single_advisor_profile:hover .advisor_thumb .actions a:hover,
    .single_advisor_profile:hover .advisor_thumb .actions a:focus,
    .single_advisor_profile:focus .advisor_thumb .actions a:hover,
    .single_advisor_profile:focus .advisor_thumb .actions a:focus {
        color: #ffffff;
    }
    .single_advisor_profile:hover .single_advisor_details_info,
    .single_advisor_profile:focus .single_advisor_details_info {
        background-color: #000000;
    }
    .single_advisor_profile:hover .single_advisor_details_info::after,
    .single_advisor_profile:focus .single_advisor_details_info::after {
        background-color: #ffffff;
    }
    .single_advisor_profile:hover .single_advisor_details_info h1,
    .single_advisor_profile:focus .single_advisor_details_info h1 {
        color: #ffffff;
    }
    .single_advisor_profile:hover .single_advisor_details_info h3,
    .single_advisor_profile:focus .single_advisor_details_info h3 {
        color: #ffffff;
    }
    .single_advisor_profile:hover .single_advisor_details_info p,
    .single_advisor_profile:focus .single_advisor_details_info p {
        color: #ffffff;
    }