* {
    box-sizing: border-box;
  }

  
  .home-banner {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    height: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
  }
  .logo {
    display: flex;
   }
   .btn-login{
       display: flex;
       margin: 50px;
   }
   .btn-logoff{
    display: flex;
    margin: 50px;
}

.game-section{
  display: flex;
  flex-flow:row wrap;
  justify-content:space-around;
  gap: 80px 80px;
  
}

  
  .login-div{
      display: inline-block;
  }
.user-info{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;
    font-size: 50px;
    padding-right: 1em;
}
.navbar{
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  margin: 0 1em 0.5em 0;
}

.menu {
  visibility: visible;
  display: flex;
  justify-content: space-around;
  color: white;
  margin: 1em 0 1em 0;
  list-style-type: none;  
  flex-grow: 0.2;
}

nav{
  background-color: rgb(17, 17, 17);
  margin-top: 1em;
}

a:active{
    color: white;
}

a:visited{
    color: dimgray;
}

a:hover{
    color:tomato;
}
  /**REVIEW CARDS**/
.reviewSection{
  display: flex;
  align-items: center;
  flex-flow:row wrap;
  justify-content: center;
}
  .container {
    position: relative;
    max-width: 700px;
}

.card {
    position: relative;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px -10px 0px rgb(0, 0, 0);
    margin-top: 10px;
    text-align: center;

}

@media(max-width:767px) {
    .card {
      position: relative;
        margin: 1rem 0.7rem 1rem;
        max-width: 80vw;
        text-align: center;
    }
}

.review-image {
    width: 6.2rem;
    border-radius: 5rem;
    margin: 1.3rem auto 1rem auto
}

.col-md-4 {
  position: relative;
    padding: 0 0.5rem
}

.card-title {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'IM Fell French Canon SC'
}

.card-text {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    color: rgb(82, 81, 81);
    line-height: 1.4rem
}



#name {
    font-size: 0.8rem;
    font-weight: bold
}


 /**FIN DE REVIEW CARDS**/