<head>
<link href="css/navbar.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<nav>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/userpage">Profile</a>
    <a href="/findgames">Search</a>
    <a href="/login">Log Out</a>

  <form class="form-search" action ="/searchGames" method = "POST">
      <div>
      <input class ="form-input" type="text" placeholder="Legend of Zelda" name="search">
      <span>
      <button type="submit" class="button condensed new">Search</button></span>
      </div>
  </form>


  </div>

</nav>